.Options {
    display: flex;
    margin: 0 0 0 7%;
}

.Options__link {
    margin: 1rem 0 0 25.8%;
    font-size: .86em;
    text-decoration: underline;
    color: black;
    cursor: pointer;
}

.Note__heading {
    margin: 1.2rem 0 0 0;
}

.Note__heading__col {
    margin: 0 0 0 -.6% !important;
}

.Note__text {
    margin: 1.1rem 0 0 -3% !important;
}

.Note__text p {
    font-family: 'Raleway';
    font-size: .9em;
}

.Modal {
    position: absolute;
    top: 8.8rem;
    right: 0;
    bottom: 0;
    left: -3.6%;
    max-width: 530px !important;
}

.Modal__Content {
    border-radius: 0 !important;
    justify-content: center
}

.Modal__Body {
    text-align: center;
    height: 11.1rem;
}

.Modal__Body h4 {
    font-size: .97em;
    letter-spacing: -0.0026em;
    margin: 1.7rem 2% 0 0;
}

.Modal__Button--delete {
    width: 38%;
    margin: 2rem 0 0 1.5%;
    background: rgb(146, 46, 46) !important;
}

.Modal__Button--no {
    margin: 2rem 0 0 4%;
    width: 38%;
}