.List {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.List__content {
    margin: 0 0 3em 0;
}

.List__heading__col h4{
    width: 50vw;
    margin: 0 0 .5rem 10%;
}

.List__Card-Container {
    margin: 0 0 2em 0;
}

.List__link {
    margin: 0 0 1rem 5% !important;
}